body {
  background: black;
  color: white
}

.opacity-05 {
  opacity: 0.5;
}

.dourado {
  color: #fec63e
}

.border-radius-04 {
  border-radius: 0.4rem;
}

.black-gray {
  background: rgb(31, 31, 36);
}

.left {
  text-align: left;
}

.rigth {
  text-align: right;
}

ul {
  font-weight: bold;
}

.conteiner {
  margin: 0 10rem;
}

.p-15 {
  padding: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.px-15 {
  padding: 15px 0px;
}

.pr-15 {
  padding-right: 15px;
}

.align-center {
  text-align: center;
}